/* Diagnostic */

* {
  outline: 1px dotted darkgray;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

/* Layout  */
main {
  position: relative;
  width: 1194px;
  height: 834px;
  background: url("RedbullCheco.jpg");
}

.time {
position: absolute;
font-family: 'Teko-Regular';
font-size: 5em;
top: 350px;
left: 200px;
}

.date {
  position: absolute;
  font-family: 'Teko-Medium';
  bottom: 100px;
  right: 100px;
  font-size: 1.5em;
}
